#!/bin/bash

set -o pipefail

reprepro_user="{{ reprepro_user }}"

[ "$(id -u -n)" = "$reprepro_user" ] || {
  echo "Only $reprepro_user can run this script." >&2
  exit 1
}

# functions
log() {
  echo "$(date -u "+%F %T") $*" | tee -a "$logfile"
}

get_email_address() {
  sed -n -e 's/Changed-By: //p' "$1" | python3 -c "import sys, email.utils; print(email.utils.parseaddr(sys.stdin.readline())[1])"
}

send_email() {
  /usr/sbin/sendmail -t <<-END
From: {{ reprepro_admin_email }}
To: $3
Subject: Failed processing of $1 in $2 repository

It looks like the upload of $3 has not been accepted by
reprepro in the $2 repository:

$(cat "$4")

-- 
Try harder.
END
}

process() {
  local opts="--waitforlock 1200"
  local reprepro_dir=$1
  shift
  reprepro $opts -b "$reprepro_dir" processincoming "$@"
}

incoming_rule="$1"
changes_file="$2"

if [ -z "$incoming_rule" ] || [ -z "$changes_file" ]; then
  echo "ERROR: missing argument(s)" >&2
  echo "usage: $0 <incoming-rule> <change-files>"
  exit 1
fi

changes_basename="$(basename "$changes_file")"
changes_file="{{ reprepro_incomingdir }}/${changes_file}"
uploader=$(get_email_address "$changes_file")
logfile=$(mktemp /tmp/process-incoming.XXXXXXXX.log)

log "Starting to process $changes_file"

reprepro_dir="{{ reprepro_dir }}"

{% if reprepro_changesdir is defined %}
changesdir="{{ reprepro_changesdir }}/$(date +%Y)"
mkdir -p "$changesdir"
for suffix in "" -1 -2 -3 -4 -5 -6 -7 -8 -9; do
  cp -n "$changes_file" "$changesdir/$(date +"%Y%m%d%H%M%S")_$changes_basename$suffix" && break
done

{% endif %}
process "$reprepro_dir" "$incoming_rule" "$changes_basename" 2>&1 | tee -a "$logfile"

if [ $? -ne 0 ]; then
  send_email "$changes_basename" "$reprepro_dir" "$uploader" "$logfile"
fi

rm -f "$logfile"
