#!/bin/sh

case "$SSH_ORIGINAL_COMMAND" in
        scp\ *)
		exec scp -p -d -t "{{ reprepro_incomingdir }}"
                ;;
        chmod\ *)
                find "{{ reprepro_incomingdir }}" -user "$(whoami)" -type f -print0 | xargs --null --no-run-if-empty chmod 0644
                exit 0
                ;;
        *)
                echo "ERROR: Forbidden command: $SSH_ORIGINAL_COMMAND"
                echo "This SSH access can only be used to upload Debian packages."
                exit 1
                ;;
esac
