#!/bin/sh
# This file is managed by ansible.

set -eu

{% for suite, conf in debci_suites.items() -%}
  {% for arch in conf.architectures -%}
debci setup --suite '{{ suite }}'  --arch '{{ arch }}' --backend '{{ conf.backend }}'
{%- if conf.mirror is defined %} --mirror '{{ conf.mirror }}'{% endif %}
{%- if conf.keyring is defined %} --keyring '{{ conf.keyring }}'{% endif %}
 "$@"
{# newline #}
  {%- endfor %}
{%- endfor %}
