# BEWARE: file managed by Ansible, any changes will be overwritten

[Unit]
Description=rebuildd deamon
Documentation=man:rebuildd(1)

[Service]
ExecStart=/usr/sbin/rebuildd
Type=simple
User={{ rebuildd_user }}
Group={{ rebuildd_user }}
Restart=always

[Install]
WantedBy=multi-user.target
